<div class="text-center navigation">
    <a asp-controller="Home" asp-action="Index" class="link-offset-2 navContainer">Products</a>
    <a asp-controller="Home" asp-action="Categories" class="link-offset-2 navContainer">Categories</a>
</div>