<link rel="stylesheet" href="~/css/styles.css">
@await Html.PartialAsync("_Nav")
<div class="text-center">

</div>
<div class="row">
    <div class="col-md-6">
        <div class="text-center">
            <h2>Categories</h2>
        </div>
        <div>

        </div>
    </div>
    <div class="col-md-6">
        <div class="text-center">
            <h2>Add Category</h2>
        </div>
        <div>
            @await Html.PartialAsync("_CategorySelect")
        </div>
    </div>
</div>