@model Category;
<link rel="stylesheet" href="~/css/styles.css">
@await Html.PartialAsync("_Nav")
<div class="text-center mb-4">
    <h1>@Model.Name</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="text-center">
            <h2>Products</h2>
        </div>
    </div>
    <div class="col-md-6">
        <div class="text-center">
            <h2>Add Product</h2>
        </div>
        <div>

        </div>
    </div>
</div>